---
layout: default
---

<div id="page-container">
    <!-- Page Header -->
    {% comment %}<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">{% endcomment %}
    <header class="intro-header" style="background-image: url('{{site.baseurl}}{{ site.header-img }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                       {% comment %} <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>{% endcomment %}
                       <h1>{{ site.title }}</h1>
                        <hr class="small">
                        {% comment %}<span class="subheading">{{ page.description }}</span>{% endcomment %}
                        <span class="subheading">{{ site.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
    	<div class="row">
    					{{ content }}
    	</div>
    </div>
</div>
<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>
